{% extends 'base.html' %} {% block content %}
<h1>Add ALOJAMIENTOS</h1>
<a href="/">Back</a><br /><br />

<form id="createForm" action="/create" method="post">
  <table>
    <tbody>
      <tr>
        <td class="campo">
          <label for="genus_input">Nombre</label>
        </td>
        <td>
          <input type="text" name="nombre" id="nombre_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label>Nº Habitaciones</label>
        </td>
        <td>
          <input type="number" name="nhabitaciones" id="nhabitaciones_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label>Nº Banos</label>
        </td>
        <td>
          <input type="text" name="nbanos" id="nabnos_input" />
        </td>
      </tr>
      <tr>
        <td class="campo">
          <label>pax</label>
        </td>
        <td>
          <input type="number" name="pax" id="pax_input" />
        </td>
      </tr>
      <tr>
        <td class="campo">
          <label>direccion</label>
        </td>
        <td>
          <input type="tel" name="direccion" id="direccion_input" />
        </td>
      </tr>
      <tr>
          <td class="fila-boton" colspan="2">
          <button id="submitButton">Add</button>
        </td>
      </tr>
    </tbody>
    </tbody>
  </table>

</form>

<!-- Botón fuera del formulario -->

<button id="clearButton">Clear</button>
<button id="hideButton">Hide</button>
<button id="showButton">Show</button>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='validation.js') }}"></script>
{% endblock %}
