{% extends 'base.html' %} {% block content %}
<h1>Add Mammal</h1>
<a href="/">Back</a><br /><br />

<form id="createForm" action="/create" method="post">
  <table>
    <tbody>
      <tr>
        <td class="campo">
          <label for="genus_input">Genus</label>
        </td>
        <td>
          <input type="text" name="genus" id="genus_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label for="sex_input">Sex</label>
        </td>
        <td>
          <input type="text" name="sex" id="sex_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label for="plot_type_input">Plot Type</label>
        </td>
        <td>
          <input type="text" name="plot_type" id="plot_type_input" />
        </td>
      </tr>

      <tr>
        <td class="campo">
          <label for="hindfoot_length_input">Hindfoot Length</label>
        </td>
        <td>
          <input type="tel" name="hindfoot_length" id="hindfoot_length_input" />
        </td>
      </tr>

      <tr>
          <td class="fila-boton" colspan="2">
          <button id="submitButton">Add</button>
        </td>
      </tr>
    </tbody>
    </tbody>
  </table>

</form>

<!-- Botón fuera del formulario -->

<button id="clearButton">Clear</button>
<button id="hideButton">Hide</button>
<button id="showButton">Show</button>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='validation.js') }}"></script>
{% endblock %}
