<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina de borrado</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
  {% include "menu.html" %}
</head>

<body style="background-color: grey;">
  <div class="container">
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-4">
        {% extends 'base.html' %} {% block content %}
        <p class="list-group">
        <h3>Equipo</h3>
        <div class="card" style="width: 18rem;">
          <img src="../static/escudo.png" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">{{ jugador.Nombre }}</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                {{ jugador.Nombre }}
              </li>
              <li class="list-group-item">
                {{ jugador.Numero }}
              </li>
              <li class="list-group-item">
                {{ jugador.Posicion }}
              </li>
            </ul>
          </div>
          <div class="card-body mx-auto">
            <form action="/delete_jugador/{{ jugador.jugador_id }}" method="post">
              <input type="submit" value="Delete" class="btn btn-secondary" />
              <a class="btn btn-secondary" href="/jugador">Volver</a>
            </form>
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</body>
{% endblock %}

</html>