<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index Lesion</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
  {% include "menu.html" %}
</head>

<body style="overflow-y:hidden; background-color: grey;">

  <div class="container">
    <div class="row mt-5 mx-auto justify-content-center">
      <div>
        <p class="list-group"></p>
        {% extends 'base.html' %} {% block content %}
        <H1>Listado De Lesiones</H1>
        <div class="row">
          <div class="col-9">
            <div style=" overflow:auto;  height: 50vh; border-style: solid;">
              <table class="table table-success table-striped-columns">
                <thead class="table-dark">
                  <tr class="table-active">
                    <th>Lesion</th>
                    <th>Tiempo Recuperacion</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for lesion in lesiones %}
                  <tr>
                    <td> {{ lesion.Lesion }} </td>
                    <td> {{ lesion.TiempoRecuperacion }} </td>
                    <td> <a class="btn btn-primary" href="">Update</a></td>
                    <td> <a class="btn btn-primary" href="">Delete</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <br>
        </div>
        <br>
        <a href="/create_lesion" class="btn btn-warning">ANADIR UNA LESION</a>
        {% endblock %}
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>